html {
  color: #205896;
  font: Inter_Medium;
}

.new_pop_up_container {
  border-radius: 20px;
  text-align: center;
  height: 560px;
  width: 600px;
  margin-right: 80px;
  margin-bottom: 120px;
  margin-top: 50px;
  margin-left: auto !important;
  box-shadow: 0 0 50px 0 #778899;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  font-family: var(--primary-font, gotham);
}

.half_container {
  width: 300px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  align-items: center;
  margin: 40px auto;
}

;


.new_pop_up_layout {
  text-align: center;
  font-family: var(--primary-font, gotham);
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  flex-wrap: wrap;
  color: var(--text-color, #0766ff) !important;
  scrollbar-width: none !important;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

._ngcontent-fwy-c1 {
  background: #dfdfdf;
  border-radius: 10px;
  display: none;
  padding-left: 8px !important;
  width: 55%;
  float: left;
  padding-top: 0px;
  margin-bottom: 0px !important;
  width: 100%;
  padding-top: 4px;
  padding: 8px; 
  padding-bottom: 6px
}